$primary: rgba(52, 73, 94, 1);
$primary-hover: rgba(39, 55, 71, 1);
$secondary: rgba(0, 206, 201, 1);
$secondary-hover: rgba(2, 185, 180, 1);
$text-disabled: rgba(181, 181, 181, 1);
$bg-disabled: rgba(249, 249, 249, 1);

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: 0.2s;
  &--primary {
    color: white;
    background-color: $primary;
    &:hover {
      background-color: $primary-hover;
    }
  }
  &--secondary {
    color: white;
    background-color: $secondary;
    &:hover {
      background-color: $secondary-hover;
    }
  }
  &--outlined {
    color: $secondary;
    background-color: white;
    border: 1px $secondary solid;
    &:hover {
      background-color: $secondary;
      color: white;
    }
  }
  &--disabled {
    color: $text-disabled;
    background-color: $bg-disabled;
    cursor: default;
  }
  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &--medium {
    font-size: 12px;
    padding: 10px 16px;
  }
  &--large {
    font-size: 12px;
    padding: 10px 16px;
  }
}

.storybook-button--small {
  font-size: 14px;
  padding: 4px 8px;
}
.storybook-button--medium {
  font-size: 16px;
  padding: 6px 12px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 15px 40px;
}
